*{
    box-sizing: border-box;
    font-family: "Comic Neue", cursive; 
}

#text{
    text-shadow: 1px 0 #D43069, -1px 0 #D43069, 0 1px #D43069, 0 -1px #D43069;
    color: #D43069;
}

header{
    text-align: center;
}

/* Cards */

.cards-container{
    max-width: 80%;
    margin: 0 auto;
}

.card-box{
    float: left;
    height: 80px;
    width: calc(100% / 3 - 30px);
    background-color: #0F0E17;
    margin: 20px 10px 20px 0;
}

.imgbox{
    float: left;
    height: 100%;
    width: 70px;
}
.imgbox>img{
    height: 100%;
    width: 100%;
}

span{
    color: white;
    margin-left: 10px;
    font-size: 10px;
    
}

.boxtext{
    padding: 10px;  
}

.boldtext{
    font-weight: bold;
    font-size: 12px;
}

.azuretext{
    color: #63C2E9;
}
